<div class="section">
    <div class="container">

        <div class="row">
            <h3>Meters</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>m1Rate</th>
                    <th>m5Rate</th>
                    <th>m15Rate</th>
                    <th>meanRate</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in meters | orderBy:'name'">
                    <td>{{value.name}}</td>
                    <td>{{value.count}}</td>
                    <td>{{value.m1Rate}}</td>
                    <td>{{value.m5Rate}}</td>
                    <td>{{value.m15Rate}}</td>
                    <td>{{value.meanRate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h3>Timers</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>m1Rate</th>
                    <th>m5Rate</th>
                    <th>m15Rate</th>
                    <th>meanRate</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in timers | orderBy:'name'">
                    <td>{{value.name}}</td>
                    <td>{{value.count}}</td>
                    <td>{{value.m1Rate}}</td>
                    <td>{{value.m5Rate}}</td>
                    <td>{{value.m15Rate}}</td>
                    <td>{{value.meanRate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h3>Histograms</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Min</th>
                    <th>Mean</th>
                    <th>Max</th>
                    <th>StdDev</th>
                    <th>Median</th>
                    <th>p75</th>
                    <th>p95</th>
                    <th>p98</th>
                    <th>p99</th>
                    <th>p999</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="value in histograms | orderBy:'name'">
                    <td>{{value.name}}</td>
                    <td>{{value.count}}</td>
                    <td>{{value.min}}</td>
                    <td>{{value.mean}}</td>
                    <td>{{value.max}}</td>
                    <td>{{value.stdDev}}</td>
                    <td>{{value.median}}</td>
                    <td>{{value.p75}}</td>
                    <td>{{value.p95}}</td>
                    <td>{{value.p98}}</td>
                    <td>{{value.p99}}</td>
                    <td>{{value.p999}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Gauges</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="value in gauges | orderBy:'name'">
                        <td>{{value.name}}</td>
                        <td>{{value.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Counters</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="value in counters | orderBy:'name'">
                        <td>{{value.name}}</td>
                        <td>{{value.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>