<div class="modal-header">
    <h3>Add Chart</h3>
</div>
<form name="addform" class="form-horizontal" role="form" ng-submit="submit()">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" placeholder="Untitled" focus
                   required ng-model="chart.name" ng-minlength="1" ng-maxlength="100"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Serie</label>
            <div class="col-sm-10">
                <input name="format-value" type="text" class="form-control" placeholder="Undefined"
                   required ng-model="chart.serie" ng-minlength="1" ng-maxlength="200"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Size</label>
            <div class="form-text">
                <div class="col-sm-2">
                    <input type="radio" ng-model="chart.size" value="col-md-3">
                    <span>Small</span>
                </div>
                <div class="col-sm-2">
                    <input type="radio" ng-model="chart.size" value="col-md-6">
                    <span>Medium</span>
                </div>
                <div class="col-sm-2">
                    <input type="radio" ng-model="chart.size" value="col-md-9">
                    <span>Large</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="$dismiss('cancel')">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="addform.$invalid">Create</button>
    </div>
</form>
