<div class="container profile">
    <div class="row">

        <div class="col-lg-12">
            <div class="col-sm-2">
                <img src="{{user.imageUrl}}" ng-if="user.imageUrl"/>
                <div class="defaultProfileImg" ng-if="!user.imageUrl"/>
            </div>
            <div class="col-sm-10">
                <h2 id="profilename" class="profile-header">{{user.name}}</h2>
                <div id="location">{{user.location.name}}</p>
            </div>

            <h2 localize>My Communities</h2>
            <ul>
                <li class="profile-community" ng-repeat="comm in user.communities">{{comm.title}}</li>
            </ul>
        </div>

    </div>
</div>
