<div class="container profile" ng-cloak>
    <div class="row">

        <div class="col-lg-12">
            <div class="col-sm-2">
                <img src="{{user.imageUrl}}" ng-if="user.imageUrl"/>
                <div class="defaultImg" ng-if="!user.imageUrl"/>
            </div>
            <div class="col-sm-10">
                <h2 id="profilename" class="profile-header">{{user.name}}</h2>
                <div id="location">{{user.location.name}}</div>
                <div class="spacer"></div>
                <h4 localize>My Communities</h4>
                <ul>
                    <li class="profile-community" ng-repeat="comm in user.communities">
                        <a href="/#/comms/{{comm.id}}">{{comm.title}}</a>
                    </li>
                </ul>
                <p localize ng-show="user.nearby.length == 0">There is no community around, why not to
                    <a class="new-community" href="/comm/create">create one</a>?
                </p>
                <p localize ng-show="user.nearby.length > 0">There are following communities around:
                <ul>
                    <li class="available-community" ng-repeat="comm in user.nearby">
                        <a href="/#/comms/{{comm.id}}">{{comm.title}}</a>
                    </li>
                </ul>
                </p>
            </div>
        </div>

    </div>
</div>
