<div class="container comm">
    <div class="row">

        <div class="col-lg-12">
            <div class="col-sm-2">
                <img src="{{comm.imageUrl}}" ng-if="comm.imageUrl"/>
                <div class="defaultImg" ng-if="!comm.imageUrl"/>
            </div>
            <div class="col-sm-10">
                <h2 id="commname" class="comm-header">{{comm.title}}</h2>
                <div id="location">{{comm.location.name}}</div>
            </div>

        </div>

    </div>

</div>

