<div class="container comm" ng-cloak>

    <div class="col-lg-12">
        <h2 id="welcome-header" class="page-header" localize>New Community</h2>

        <p localize>Please specify basic description, further details may be added later.</p>
        <p>&nbsp;</p>

        <form name="commcreateform" class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name" localize>Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" ng-model="newComm.name" required ng-minlength="2" ng-maxlength="255">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" localize>Location</label>
                    <div class="col-sm-8" ng-model="newComm.name"/>
                </div>
            </div>
            <div class="col-sm-10">
                <button id="welcomeform-submit" type="submit" class="btn btn-primary pull-right" ng-disabled="welcomeform.$invalid" localize>Create</button>
            </div>
        </form>
    </div>

</div>

